// Rem output with px fallback
.font-size(@sizeValue: 1) {
    font-size: (@sizeValue * 10) * 1px;
    font-size: @sizeValue * 1rem;
}

// Center block
.center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
.clearfix() {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}


.transition (@prop: all, @time: 250ms, @ease: ease) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    transition: @prop @time @ease;
}


.placeholder(@color) {
    &::-webkit-input-placeholder {
       color: @color;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: @color;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: @color;
    }
    &:-ms-input-placeholder {
       color: @color;
    }
}

.image-ratio(@ratio: 1,@size: cover, @bg: #eee) {
    width: 100%;
    display: inline-block;
    background-color: @bg;
    background-size: @size;
    background-repeat: no-repeat;
    &:before {
        content: '';
        display: block;
        float: left;
        padding-bottom: 100%*(@ratio);
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.text-one-line() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-multi-line(@font-size: 14px, @lines-to-show: 2, @line-height: 1.4) {
    font-size: @font-size;
    line-height: @line-height;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: @lines-to-show;
    -webkit-box-orient: vertical;
    max-height: @font-size * @line-height * @lines-to-show; /* Fallback for non-webkit */
    // height: @font-size * @line-height * @lines-to-show; /* Fallback for non-webkit */
    text-overflow: ellipsis;
    overflow: hidden;
}


.background-image(@size: cover, @position: center, @repeat: no-repeat) {
    background-size: @size;
    background-position: @position;
    background-repeat: @repeat;
}