<template>
  <div class="account-container">
    <div class="title-wrapper">
      <span class="title">{{ title }}</span>
      <nuxt-link v-if="actionTitle" :to="actionLink">
        <span class="action">{{ actionTitle }}</span>
      </nuxt-link>
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    actionTitle: String,
    actionLink: String
  }
}
</script>

<style lang="less" scoped>
.account-container {
  min-height: calc(~"100vh - 320px");
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(158, 158, 158, 0.4);
  padding: 34px 26px 34px 26px;
  margin-bottom: 100px;
  @media only screen and (min-width: 992px) {
    min-height: calc(~"100vh - 180px");
  }
}
.title-wrapper {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  .title {
    color: #424242;
    font-size: 1.6rem;
    font-weight: 500
  }
  .action {
    color: #ffb300;
    font-size: 1.4rem;
  }
}
</style>
