<template>
  <div>
    <account-container
      title="ข้อมูลส่วนตัว"
      action-title="แก้ไข"
      action-link="/account/edit"
    >
      <div class="account-content-wrapper">
        <div class="content-detail-wrapper">
          <a-row :gutter="{ lg: 0, xs: 30, xm: 30, md: 30 }">
            <a-col :span="12">
              <div class="item">
                <span class="title">ชื่อ : </span>
                <span class="detail">{{ user && user.firstName || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">นามสกุล : </span>
                <span class="detail">{{ user && user.lastName || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">หมายเลขบัตรประชาชน : </span>
                <span class="detail">{{ user && user.identityId || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">อีเมล : </span>
                <span class="detail">{{ user && user.email || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">เบอร์โทรศัพท์ : </span>
                <span class="detail">{{ user && user.phoneNumber || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">Facebook : </span>
                <span class="detail">{{ user && user.facebookId || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">Line : </span>
                <span class="detail">{{ user && user.lineId || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">เงินค้ำประกันเครดิต : </span>
                <span class="detail">{{ user && user.guaranteeMoney || 0 }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">สถานะ : </span>
                <span
                  v-if="user.isEmailVerify && user.isIdentityIdVerify"
                  class="detail green"
                >ได้รับการตรวจสอบแล้ว</span>
                <span v-else class="detail red">ยังไม่ได้รับการตรวจสอบ</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">สถานะชาวสวน : </span>
                <span v-if="user.isGardener" class="detail green">ได้รับการตรวจสอบแล้ว</span>
                <span v-else class="detail red">ยังไม่ได้รับการตรวจสอบ</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">สถานะพ่อค้า : </span>
                <span v-if="user.isAuctioneer" class="detail green">ได้รับการตรวจสอบแล้ว</span>
                <span v-else class="detail red">ยังไม่ได้รับการตรวจสอบ</span>
              </div>
            </a-col>
            <a-col v-if="user.adminMessage" :span="12">
              <div class="item">
                <span class="title">Admin Message : </span>
                <span class="detail">{{ user && user.adminMessage || '-' }}</span>
              </div>
            </a-col>
          </a-row>
        </div>
        <div class="bank-account-wrapper">
          <div class="title-wrapper">
            <span class="title">ที่อยู่ปัจจุบัน</span>
            <nuxt-link to="/account/address">
              <span class="action">จัดการที่อยู่</span>
            </nuxt-link>
          </div>
          <div v-if="user && user['address']" class="content-detail-wrapper">
            <!-- <div class="item">
              <span class="detail">ออมทรัพย์ สุขขี</span>
            </div> -->
            <div class="item">
              <span class="title">ที่อยู่ : </span>
              <span class="detail">{{ user.address.addressDetail }}</span>
            </div>
            <div class="item">
              <span class="title">แขวง/ตำบล : </span>
              <span class="detail">{{ user.address.subDistricts.th }}</span>
            </div>
            <div class="item">
              <span class="title">เขต/อำเภอ : </span>
              <span class="detail">{{ user.address.districts.th }}</span>
            </div>
            <div class="item">
              <span class="title">จังหวัด : </span>
              <span class="detail">{{ user.address.province.th }}</span>
            </div>
            <div class="item">
              <span class="title">รหัสไปรษณีย์ : </span>
              <span class="detail">{{ user.address.postalCode }}</span>
            </div>
          </div>
          <div v-else style="margin-top: 20px; text-align: center;">
            <div class="add-address-wrapper">
              <span class="no-address-text">คุณยังไม่มีข้อมูลที่อยู่</span>
              <nuxt-link to="/account/address">
                <span class="add-first-address-text">กดที่นี่เพื่อเพิ่มที่อยู่ของคุณ</span>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </account-container>
  </div>
</template>
<script>
import { get } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'

export default {
  name: 'AccountIndexPage',
  layout: 'account',
  middleware: 'authenticated',
  components: {
    AccountContainer
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  computed: {
    ...get('auth', {
      user: 'user'
    })
  }
}
</script>

<style lang="less" scoped>
.content-detail-wrapper {
  padding: 26px 0;
  @media only screen and (min-width: 992px) {
    padding: 26px 45px;
  }
  .item {
    color: #424242;
    padding: 5px 0;
    font-size: 1.6rem;
    font-weight: 300;
  }
  .detail {
    font-weight: 500;
    word-wrap: break-word;
    &.green {
      color: #43be39
    }
    &.red {
      color: red;
    }
  }
}
.title-wrapper {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  .title {
    color: #424242;
    font-size: 1.6rem;
    font-weight: 500
  }
  a {
    .action {
      color: #ffb300;
      font-size: 1.4rem;
    }
  }
}
.add-address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 0px;
  .no-address-text {
    color: #424242;
    font-size: 2.2rem;
    font-weight: 500;
  }
  a {
    margin-top: 22px;
    .add-first-address-text {
      color: #ff9300;
      font-size: 2.2rem;
      font-weight: 500;
    }
  }
}
</style>
