<template>
  <div id="newsSection">
    <base-container>
      <div class="header" style="text-align: center; margin-bottom: 48px;">
        <h1 style="font-size: 40px; font-weight: 500; margin-bottom: 24px;">
          How to use (วิธีใช้งาน)
        </h1>
        <!-- <h2 style="margin-top: 0px; color: #868e96; text-align: center; font-weight: 300; font-size: 20px;">
          โมเดิร์นเอนทรานซ์โกะสแล็กโชว์รูม ปาสคาลเคลียร์ เทอร์โบเรซิ่นสไตล์ โบว์ลิ่งไฮเปอร์ตื้บ
        </h2>
        <h2 style="margin-top: -10px; color: #868e96; text-align: center; font-weight: 300; font-size: 20px;">
          ฟลุท เพรียวบางเกจิ ซิงโมเดิร์นไฮไลท์โลโก้ เก๊ะโต๊ะจีน คลิปซาร์แมกกาซีน
        </h2> -->
      </div>
      <a-row type="flex" :gutter="16">
        <a-col
          v-for="article in articlesLimit"
          :key="article.id"
          :span="8"
          :xs="24"
          :md="8"
          style="margin-bottom: 12px;"
        >
          <a-card
            class="card info"
            hoverable
            @click="moreDetail(article.id)"
          >
            <div
              slot="cover"
              class="pd-all-15px img-wrapper"
              alt="farm-avatar"
              :style="{ backgroundImage: `url('${article.thumbnailUrl}')`}"
            />
            <div class="f-w-500 cl-primary title is-wrapped">
              {{ article.title }}
            </div>
            <div class="f-w-300 mg-bt-10px preview">
              {{ article.preview }}
            </div>
          </a-card>
        </a-col>
      </a-row>
      <div class="t-al-center" style="margin-top: 32px;">
        <a-button class="oa-button is-primary" @click="moreArticles()">
          อ่านบทความอื่นๆ
        </a-button>
      </div>
    </base-container>
  </div>
</template>

<script>
export default {
  props: {
    articles: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    articlesLimit () {
      return this.articles.slice(0, 3)
    }
  },
  methods: {
    getImageUrl (image) {
      return require('../../assets/images/' + image + '.jpg')
    },
    moreDetail (id) {
      console.log(id)
      this.$router.push({ name: 'article-id', params: { id } })
    },
    moreArticles () {
      this.$router.push({ name: 'article' })
    }
  }
}
</script>

<style lang="scss" scoped>
#newsSection {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
}
hr {
  height: 1px;
  color: #fda03e;
  background-color: #fda03e;
  border: none;
}
.t-al-center {
  text-align: center;
}
.mg-t-48px {
  margin-top: 48px;
}

.img-wrapper {
  height: 220px;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title {
  font-size: 2.0rem;
}
.info {
  min-height: 150px;
}
.preview {
  margin-top: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
</style>
